/* 
    Created on : 15-Feb-2017, 14:32:34
    Author     : Andy Carr
*/
.text-field-area {
    width: 60px;
    float: left;
}
.guess-the-age {
    width: 50px;
}
.button-area {
    width: 100px;
    float: left;
}
.feedback {
    width: 100%;
    float: left;
    height: 100px;
    margin-top: 50px;
}
.form-area {
    width: 100%;
    float: left;
}
