/* 
    Created on : 15-Feb-2017, 14:32:34
    Author     : Andy Carr
*/
.page-content {
    width: 900px;
    margin: 0 auto;
}
.main-box {
    width: 800px;
    border: black solid 1px;
    float: left;
    padding: 20px;
    background: #e9e8e7;
}
.experiment {
    width: 180px; 
    float: left; 
    border: black solid 1px;
    margin: 5px;
    height: 40px;
    text-align: center;
    padding: 20px 0px 5px 0px;
    background: #609fbf;
    color: black;
}
